# MongoDB Connection URL
# Local MongoDB:
MONGODB_URI=mongodb+srv://aswin:aswinsparky@cluster0.kglzhgp.mongodb.net/?appName=Cluster0

# MongoDB Atlas (Cloud):
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/whatsapp-bot?retryWrites=true&w=majority

# Alternative variable name (also supported):
# MONGO_URL=mongodb://localhost:27017/whatsapp-bot

# Bot Configuration (Global defaults - each user can override via .settings command)
ALWAYS_ONLINE=false
AUTO_STATUS_VIEW=true
BOT_INFO=X-BOT-MD;ASWIN SPARKY;https://url.aswinsparky.qzz.io/H4STof.mp4
CALL_BLOCK=false
DISABLE_PM=false
HANDLERS=false
LANGUAGE=english
LOGS=false
MENU_TYPE=video
READ_MESSAGES=false
REJECT_CALL=false
SAVE_STATUS=false
START_MSG=true
STATUS_REPLY=false
STATUS_REACTION=false
SUDO=917012984396
WORK_TYPE=public
